<!--
Bootsptrap menu from the following link:
https://www.w3schools.com/bootstrap/bootstrap_navbar.asp

@Vanessa Lopez Nunez
I modified for the project purpose.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Visited National Park</title>
</head>
<body>
<!--
th:fragment is used by th:replace by others HTMLS pages like national_park_list.html
-->
<div th:fragment="headermenu" >
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Visited National Park</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">National Park <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/visit_park_list}">Visited List</a></li>
                    <li><a th:href="@{/loadVisitNParkForm}">Add visit</a></li>
                    <li><a th:href="@{/national_park_list}">National Parks</a></li>
                </ul>
            </li>
            <li><a href="#">My info</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <span class="glyphicon glyphicon-user">Logged [[${#request.userPrincipal.principal.fullName}]]</span>
            </li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
</div>

</body>
</html>

