<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Logout Visited National Park</title>
    <link rel="stylesheet" th:href ="@{/css/national-park.css}">
</head>
<body class="bodylogin">
<div class="div_logout">
    <table align="center">
        <tr>
            <td> Thank you for you visit!!!
            </td>
        </tr>
        <tr>
            <td><a th:href="@{/login}">Comeback again</a></td>
        </tr>
    </table>
</div>
</body>
</html>