<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/national-park.css}">
    <script th:src="@{/js/national-park.js}"></script>
    <title>Login</title>
</head>
<body class="bodylogin">

<div class="div_login">
    <form id="form" th:action="@{/login}" method="post">
        <div class="tableDiv">
            <table>
                <tbody>
                <thead>
                <tr>
                    <th colspan="2">Sign In</th>
                </tr>
                </thead>
                <tr>
                    <td colspan="2">
                        <input type="text" id="username" class="text" name="username" placeholder="Username">
                        <br><label class="error" id="l_username"></label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="password" id="password" class="text" name="password" placeholder="Password">
                        <br><label class="error" id="l_password"></label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="error" th:text="${message}"></label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="button" class="login_button" value="Sign in" onclick="validateLoginFields()"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <p class="p_href">
                <a>Forgot password</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{/sign-up}">Register</a>
            </p>
        </div>
    </form>
</div>
</body>
</html>