<!--
@Author Vanessa Lopez
HTML National park list
-->
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<title>National Park</title>
<head>
    <link rel="stylesheet" th:href ="@{/css/national-park.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body   sec:authorize="hasRole('USER')">

<!--
th:replace insert the menu from header.html (th:fragment)
-->
<header th:replace="header :: headermenu"></header>

<div>
    <p id="p_parklist">National Park List</p>
    <div class="div_body">
        <div th:each="parkList : ${nplist}" class="visitDetail">
        <table>
            <thead><th>[[${parkList['key']}]]</th></thead>
            <div th:each="parkdetail : ${parkList['value']}">
                <tr>
                        <td style="padding:7px;">
                            [[${parkdetail[1]}]]
                        </td>
                       <td>
                          <a th:href="${parkdetail[2]}"> [[${parkdetail[2]}]] </a>
                       </td>
                </tr>
            </div>
        </table>
    </div>
    </div>

</div>

</body>
</html>