<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/national-park.css}">
</head>
<body>

<div class="container">
    <form action="#" th:action="@{/saveUser}" th:object="${user}" method="post">
        <div class="tableDiv">
            <table>
                <tbody>
                <tr>
                    <th colspan="2"><h1>User</h1></th>
                </tr>
                <tr>
                    <td><label class="label">First Name</label>
                    </td>
                    <td><input type="text" class="text" th:field="*{first_name}">
                    </td>
                </tr>
                <tr>
                    <td><label class="label">Last Name</label></td>
                    <td><input type="text" class="text" th:field="*{last_name}">
                    </td>
                </tr>
                <tr>
                    <td><label class="label">Email</label>
                    </td>
                    <td><input type="text" class="text" th:field="*{email}">
                    </td>
                </tr>
                <tr>
                    <td><label class="label">Password</label>
                    </td>
                    <td><input type="text" class="text" th:field="*{password}">
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" class="_button" value="Save"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

</div>

</body>
</html>