<!--
@Author Vanessa Lopez
HTML visit list by state
-->
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<title>National Park</title>
<head>
    <link rel="stylesheet" th:href ="@{/css/national-park.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="header :: headermenu"></header>

<div class="div_body" sec:authorize="hasRole('USER')">
    <p id="p_parklist">Visited National Park List</p>
    <div class="div_body">

        <div th:each="detailVisitList : ${visit_detail_list}" class="visitDetail">
            <table >
                <thead><th>[[${detailVisitList['key']}]]</th></thead>
                    <div th:each="detailVisit : ${detailVisitList['value']}">
                        <tr th:each="visit : ${detailVisit}" >
                            <td style="padding:7px;">
                            [[${visit}]]
                            </td>
                            <td>
                                <a >Add Images</a>
                            </td>
                        </tr>
                    </div>
    </table>
    </div>
    </div>
</div>

</body>
</html>